This project works with a dataset of used cars from eBay Kleinanzeigen. We're going to clean up the data set and then try to extract some useful info from it.

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos=pd.read_csv('autos.csv', encoding='Latin-1' )

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [5]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

From the info, we gather that some data is missing. Also, we see that some of the data has been stored as the wrong type or a type that would make it difficult for us to process.
From the info, we see that some of the column names contain a mix of capital and small letters. This has given us an idea of the work we have to do.

In [6]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:

autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen']

In [8]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen'],
      dtype='object')

In [9]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_photos,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

We made some changes to the column names because the original dataset was in camel case which is somewhat not suitable for use here.

In [10]:
autos.describe()

,registration_year,power_ps,registration_month,num_photos,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

Well, some of these columns have mostly one value and are therefore candiddats to be dropped.
The 'nrOfPictures' column needs to be investigated some more. Some of the numeric data in the set has been stored as text data and will need to be cleaned.

In [11]:
autos = autos.drop(["num_photos", "seller", "offer_type"], axis=1)

In [12]:
autos['price']=autos['price'].str.replace('$','').str.replace(',','').astype(float)

In [13]:
autos['price']

0         5000.0
1         8500.0
2         8990.0
3         4350.0
4         1350.0
5         7900.0
6          300.0
7         1990.0
8          250.0
9          590.0
10         999.0
11         350.0
12        5299.0
13        1350.0
14        3999.0
15       18900.0
16         350.0
17        5500.0
18         300.0
19        4150.0
20        3500.0
21       41500.0
22       25450.0
23        7999.0
24       48500.0
25          90.0
26         777.0
27           0.0
28        5250.0
29        4999.0
          ...
49970    15800.0
49971      950.0
49972     3300.0
49973     6000.0
49974        0.0
49975     9700.0
49976     5900.0
49977     5500.0
49978      900.0
49979    11000.0
49980      400.0
49981     2000.0
49982     1950.0
49983      600.0
49984        0.0
49985     1000.0
49986    15900.0
49987    21990.0
49988     9550.0
49989      150.0
49990    17500.0
49991      500.0
49992     4800.0
49993     1650.0
49994     5000.0
49995    24900.0
49996     1980.0
49997    13200.0
49998    22900.0
49999     1250.0
Name: price, Length: 50000, dtype: float64

In [14]:
autos['odometer']=autos['odometer'].str.replace('km','').str.replace(',','').astype(float)
autos['odometer']

0        150000.0
1        150000.0
2         70000.0
3         70000.0
4        150000.0
5        150000.0
6        150000.0
7        150000.0
8        150000.0
9        150000.0
10       150000.0
11       150000.0
12        50000.0
13       150000.0
14       150000.0
15        80000.0
16       150000.0
17       150000.0
18       150000.0
19       150000.0
20       150000.0
21       150000.0
22        10000.0
23       150000.0
24        30000.0
25       150000.0
26       125000.0
27       150000.0
28       150000.0
29       150000.0
           ...
49970     60000.0
49971    150000.0
49972    150000.0
49973    150000.0
49974    150000.0
49975    100000.0
49976    150000.0
49977    150000.0
49978    150000.0
49979     70000.0
49980    125000.0
49981    150000.0
49982     90000.0
49983    150000.0
49984    150000.0
49985    150000.0
49986    125000.0
49987     50000.0
49988    150000.0
49989    150000.0
49990     30000.0
49991    150000.0
49992    125000.0
49993    150000.0
49994    150000.0
49995    100000.0
49996    150000.0
49997      5000.0
49998     40000.0
49999    150000.0
Name: odometer, Length: 50000, dtype: float64

In [15]:
autos.rename(columns={'odometer':'odometer_km'},inplace=True)

In [16]:
autos.head()

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50

In [17]:
autos['odometer_km'].value_counts().sort_index(ascending=False)

150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
70000.0      1230
60000.0      1164
50000.0      1027
40000.0       819
30000.0       789
20000.0       784
10000.0       264
5000.0        967
Name: odometer_km, dtype: int64

In [18]:
autos[(autos['price']==0)]

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,0.0,control,NaN,2005,NaN,0,NaN,150000.0,0,NaN,ford,NaN,2016-03-27 00:00:00,66701,2016-03-27 18:45:01
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,0.0,control,NaN,1990,manuell,0,NaN,5000.0,0,benzin,opel,NaN,2016-03-28 00:00:00,4552,2016-04-07 01:45:48
80,2016-03-09 15:57:57,Nissan_Primera_Hatchback_1_6_16v_73_Kw___99Ps_...,0.0,control,coupe,1999,manuell,99,primera,150000.0,3,benzin,nissan,ja,2016-03-09 00:00:00,66903,2016-03-09 16:43:50
87,2016-03-29 23:37:22,Bmw_520_e39_zum_ausschlachten,0.0,control,NaN,2000,NaN,0,5er,150000.0,0,NaN,bmw,NaN,2016-03-29 00:00:00,82256,2016-04-06 21:18:15
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,0.0,control,cabrio,2011,manuell,0,2_reihe,60000.0,7,diesel,peugeot,nein,2016-04-05 00:00:00,99735,2016-04-07 12:17:34
118,2016-03-12 05:03:00,VW_Sharan_V6_204_PS_Karosse_Rohkarosse_mit_Pap...,0.0,control,bus,2001,manuell,204,sharan,150000.0,7,benzin,volkswagen,ja,2016-03-12 00:00:00,15370,2016-03-12 21:44:23
146,2016-03-22 23:59:28,Ford_Fiesta_rot,0.0,test,kleinwagen,1996,manuell,75,fiesta,20000.0,8,benzin,ford,NaN,2016-03-22 00:00:00,63069,2016-04-01 20:16:38
167,2016-04-02 19:43:45,Suche_VW_Multivan_Innenausstattung_Set_oder_TE...,0.0,control,NaN,2011,NaN,0,transporter,5000.0,0,NaN,volkswagen,NaN,2016-04-02 00:00:00,64739,2016-04-06 19:45:08
180,2016-03-19 10:50:25,Zu_verkaufen,0.0,test,NaN,2016,manuell,98,3_reihe,150000.0,12,benzin,mazda,ja,2016-03-19 00:00:00,30966,2016-03-24 03:17:21
226,2016-03-25 23:52:12,Porsche_911_S_Targa__67er_SWB,0.0,control,cabrio,1967,manuell,160,911,5000.0,12,benzin,porsche,nein,2016-03-25 00:00:00,44575,2016-04-05 14:46:39
234,2016-03-05 16:56:22,Fiat_Punto_Sport,0.0,control,NaN,2016,NaN,0,punto,150000.0,0,NaN,fiat,NaN,2016-03-05 00:00:00,44789,2016-03-17 22:47:09
248,2016-03-08 22:57:53,VW_Passat_zu_verkaufen,0.0,test,kombi,1998,manuell,0,passat,150000.0,10,benzin,volkswagen,ja,2016-03-08 00:00:00,34369,2016-03-29 16:16:18
259,2016-04-03 23:49:58,guenstiges_Auto_/_auch_defekt,0.0,control,NaN,2000,NaN,0,NaN,5000.0,6,NaN,sonstige_autos,NaN,2016-04-03 00:00:00,89269,2016-04-06 07:16:22
301,2016-03-08 20:37:59,Kaufe_alle_Autos_bietet_an,0.0,control,NaN,1990,NaN,0,NaN,5000.0,0,NaN,sonstige_autos,NaN,2016-03-08 00:00:00,13589,2016-04-05 18:44:43
323,2016-03-15 16:54:59,W220_Unfallfahrzeug,0.0,control,limousine,2001,automatik,224,s_klasse,150000.0,8,NaN,mercedes_benz,NaN,2016-03-15 00:00:00,45475,2016-04-06 12:44:20
327,2016-04-03 13:49:21,BMW_Cabrio_318i_/_BMW_318_tds_Touring,0.0,control,NaN,2016,manuell,90,3er,150000.0,2,diesel,bmw,NaN,2016-04-03 00:00:00,39112,2016-04-05 12:46:23
347,2016-04-02 11:48:02,Volvo_TP21__Sugga,0.0,test,suv,1956,NaN,0,andere,100000.0,0,NaN,volvo,NaN,2016-04-02 00:00:00,34414,2016-04-04 09:15:24
366,2016-03-21 20:36:25,Ford_Escort_Express_75__LKW_Zulussung___Diesel...,0.0,control,NaN,2000,NaN,0,andere,90000.0,0,diesel,ford,NaN,2016-03-21 00:00:00,3130,2016-03-28 19:16:45
389,2016-03-08 11:38:52,Vw_polo_classic,0.0,control,limousine,1999,manuell,75,NaN,150000.0,0,NaN,volkswagen,NaN,2016-03-08 00:00:00,14476,2016-03-14 09:16:30
418,2016-03-29 14:43:24,Fiat_SCUDO_8_Sitzer_Bus__Diesel_JTD__80_KW,0.0,test,bus,2003,manuell,80,andere,5000.0,5,diesel,fiat,nein,2016-03-29 00:00:00,35315,2016-04-05 23:47:14
427,2016-03-12 11:44:47,TOP_ZUSTAND_GrunePlakette_Euro4!!!,0.0,test,bus,2005,manuell,101,vivaro,80000.0,8,diesel,opel,nein,2016-03-12 00:00:00,93173,2016-03-12 11:44:47
430,2016-03-18 23:52:40,Winterraeder_FORD,0.0,test,NaN,2007,NaN,0,focus,5000.0,0,NaN,ford,NaN,2016-03-18 00:00:00,40549,2016-03-19 06:47:06
449,2016-04-03 20:59:59,Tausche_gegen_ein_smart.,0.0,test,limousine,2001,manuell,120,golf,150000.0,8,benzin,volkswagen,nein,2016-04-03 00:00:00,60439,2016-04-04 10:31:06
487,2016-03-14 21:41:36,MAG_MICH_KEINER_HABEN_Opel_Omega_B_Caravan_2.0...,0.0,test,kombi,1998,manuell,136,omega,150000.0,8,benzin,opel,ja,2016-03-14 00:00:00,59320,2016-03-17 11:48:08
502,2016-03-25 23:55:24,C32_AMG_C55_C43_w203,0.0,control,kombi,2001,NaN,354,c_klasse,150000.0,0,benzin,mercedes_benz,NaN,2016-03-25 00:00:00,79112,2016-03-26 08:40:35
519,2016-03-28 08:53:58,Verkaufe/Tausche_Seat_Inca__VW_Caddy__aus_2002...,0.0,test,andere,2002,manuell,64,andere,150000.0,2,diesel,seat,nein,2016-03-28 00:00:00,12627,2016-03-28 10:41:01
565,2016-03-20 20:49:36,Tausche_Audi_S3_8p_gegen_Golf_VI_Gti_mit_xenon,0.0,test,NaN,2016,manuell,330,NaN,150000.0,9,NaN,audi,nein,2016-03-20 00:00:00,97488,2016-03-22 00:44:53
593,2016-04-01 21:44:15,CLK_200__BRABUS_Optik,0.0,test,coupe,1998,manuell,136,clk,150000.0,1,benzin,mercedes_benz,NaN,2016-04-01 00:00:00,49191,2016-04-05 19:16:21
660,2016-03-29 21:44:40,Opel_Corsa_B,0.0,test,kleinwagen,1998,manuell,54,corsa,125000.0,11,benzin,opel,ja,2016-03-29 00:00:00,24214,2016-04-06 07:46:43
661,2016-03-18 22:49:48,Renault_Megane_Scenic_1.6_Tuev_12/17,0.0,test,bus,1999,manuell,0,megane,150000.0,8,benzin,renault,NaN,2016-03-18 00:00:00,66346,2016-03-29 16:47:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48882,2016-03-14 23:58:47,SUCHE_AUTO,0.0,control,NaN,2000,NaN,0,NaN,150000.0,0,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,97753,2016-03-30 23:47:43
48889,2016-04-01 10:50:52,Audi_A4_____TueV_09.2016,0.0,control,limousine,1995,manuell,101,a4,150000.0,2,benzin,audi,nein,2016-04-01 00:00:00,86869,2016-04-07 07:46:02
48891,2016-03-20 22:50:14,MB_E_220_CDI__TAUSCHEN_nur_SUV/GELÃ„NDEWAGEN,0.0,test,kombi,2001,automatik,143,e_klasse,150000.0,12,diesel,mercedes_benz,ja,2016-03-20 00:00:00,38442,2016-03-24 18:16:00
48982,2016-03-08 12:48:33,Bmw_525D_Sport_Pro..Navi,0.0,test,limousine,2010,automatik,204,5er,150000.0,10,diesel,bmw,NaN,2016-03-08 00:00:00,47805,2016-03-11 16:15:39
48985,2016-03-27 08:55:25,Stockcar_Autos_Peugeot,0.0,test,NaN,2007,NaN,60,NaN,5000.0,0,NaN,peugeot,NaN,2016-03-27 00:00:00,17153,2016-04-07 05:17:18
49043,2016-03-07 11:48:55,Opel_Vectra_B_Caravan,0.0,test,kombi,1997,manuell,101,NaN,150000.0,0,benzin,opel,NaN,2016-03-07 00:00:00,48429,2016-03-17 21:20:07
49082,2016-03-13 17:06:58,Passat_35i_b4_in_candy_weiss_original_lack,0.0,test,limousine,1996,manuell,90,NaN,150000.0,6,NaN,volkswagen,nein,2016-03-13 00:00:00,35799,2016-04-04 06:45:30
49254,2016-03-21 10:49:57,Corrado_G60_mit_2e_Motor,0.0,test,NaN,1995,manuell,0,NaN,150000.0,0,benzin,volkswagen,NaN,2016-03-21 00:00:00,53639,2016-03-22 15:18:35
49301,2016-03-20 20:52:40,Golf_3_Variant_Kombi_1.8,0.0,test,NaN,2000,NaN,0,NaN,150000.0,0,NaN,volkswagen,NaN,2016-03-20 00:00:00,4924,2016-03-30 15:17:15
49342,2016-03-09 20:47:01,Audi_80_b4_S_Color_und_BMW_318ti_compact_Tausc...,0.0,test,NaN,2017,manuell,90,80,150000.0,10,benzin,audi,ja,2016-03-09 00:00:00,25853,2016-03-11 17:45:36
49350,2016-03-19 23:57:15,Golf_II_Diesel,0.0,control,kleinwagen,1991,manuell,54,golf,150000.0,3,diesel,volkswagen,nein,2016-03-19 00:00:00,29664,2016-04-06 03:15:23
49404,2016-04-04 03:03:16,Golf_2_BBS_LEDER_KW,0.0,control,limousine,1989,manuell,90,NaN,150000.0,3,NaN,volkswagen,nein,2016-04-04 00:00:00,52062,2016-04-06 08:45:25
49408,2016-03-30 20:57:06,OPEL_ASTRA,0.0,control,NaN,1995,manuell,60,astra,150000.0,0,benzin,opel,ja,2016-03-30 00:00:00,27711,2016-04-05 11:46:06
49479,2016-04-01 23:55:01,Tausch_mit_frischen_TÃœV,0.0,control,limousine,1995,manuell,101,a4,150000.0,5,benzin,audi,nein,2016-04-01 00:00:00,27753,2016-04-06 05:16:07
49496,2016-03-26 13:55:28,Bmw_e39_520,0.0,control,limousine,1998,manuell,0,NaN,5000.0,0,NaN,bmw,NaN,2016-03-26 00:00:00,26188,2016-03-26 13:55:28
49504,2016-03-13 19:42:57,Meriva_Lpg_1_6_16v,0.0,control,bus,2004,manuell,101,meriva,150000.0,10,lpg,opel,ja,2016-03-13 00:00:00,27432,2016-03-19 13:16:57
49507,2016-03-16 17:38:32,BMW_528i_E39_Schaltgetriebe_Unfall,0.0,control,limousine,1998,manuell,193,5er,150000.0,0,NaN,bmw,ja,2016-03-16 00:00:00,25541,2016-03-30 08:47:38
49525,2016-03-09 17:59:02,Bmw_e36_318_i_Limo_Ringtool_PS_Tuning,0.0,test,NaN,2000,NaN,160,3er,150000.0,0,NaN,bmw,NaN,2016-03-09 00:00:00,66822,2016-03-15 04:45:26
49538,2016-03-14 10:55:27,Golf_3_mit_Tuev_.....PREISWERT!!!!,0.0,control,limousine,1998,manuell,60,golf,150000.0,0,benzin,volkswagen,nein,2016-03-14 00:00:00,15345,2016-03-14 10:55:27
49551,2016-03-16 23:40:18,Golf_IV_an_Bastler_zuverkaufen__reserviert_,0.0,test,NaN,2016,manuell,0,NaN,150000.0,6,diesel,volkswagen,nein,2016-03-16 00:00:00,4275,2016-03-16 23:40:18
49614,2016-03-09 17:49:39,Verkauf_meine__Audi__A3_.Gegen_tauschen_mit_Di...,0.0,test,NaN,2016,manuell,101,a3,150000.0,0,benzin,audi,nein,2016-03-09 00:00:00,47051,2016-03-10 14:15:53
49739,2016-03-17 15:47:34,Reparaturfaelligen_twingo,0.0,test,NaN,2016,manuell,58,twingo,150000.0,0,benzin,renault,nein,2016-03-17 00:00:00,27412,2016-03-17 15:47:34
49755,2016-04-02 13:46:23,Mercedes_Benz_w202_unfaller,0.0,test,limousine,1998,manuell,136,c_klasse,150000.0,7,benzin,mercedes_benz,NaN,2016-04-02 00:00:00,99441,2016-04-02 13:46:23
49793,2016-03-05 14:58:49,verkaufe_BMW_E_39,0.0,control,kombi,2000,automatik,183,5er,150000.0,1,benzin,bmw,NaN,2016-03-05 00:00:00,13125,2016-03-05 18:47:14
49880,2016-03-30 08:52:57,E39_528i_an_Bastler,0.0,control,NaN,2017,manuell,193,5er,150000.0,4,NaN,bmw,ja,2016-03-30 00:00:00,65468,2016-04-07 01:15:27
49884,2016-03-11 13:55:30,Audi_a6_2.5l__Schnaeppchen_nur_heute,0.0,test,kombi,1999,manuell,150,a6,150000.0,11,diesel,audi,NaN,2016-03-11 00:00:00,27711,2016-03-12 03:17:08
49943,2016-03-16 20:46:08,Opel_astra,0.0,control,NaN,2016,manuell,101,astra,150000.0,8,benzin,opel,NaN,2016-03-16 00:00:00,89134,2016-03-17 19:44:20
49960,2016-03-25 22:51:55,Ford_KA_zu_verschenken_***Reserviert***,0.0,control,kleinwagen,1999,manuell,60,ka,150000.0,6,benzin,ford,NaN,2016-03-25 00:00:00,34355,2016-03-25 22:51:55
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,0.0,control,cabrio,1983,manuell,70,golf,150000.0,2,benzin,volkswagen,nein,2016-03-20 00:00:00,8209,2016-03-27 19:48:16
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,0.0,test,NaN,2000,NaN,0,NaN,150000.0,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,12103,2016-04-02 19:44:53

In [19]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [20]:
autos=autos[(autos['price']>0)]

Here I removed all rows where the preice of the vehicle was less than one. I found that there were a lot of zero values and I had to clean them. Next, I will clean te 'odometer_km' column

In [21]:
autos = autos[autos["price"].between(1,351000)]
autos["price"].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

In [22]:
autos['odometer_km'].value_counts()

150000.0    31414
125000.0     5057
100000.0     2115
90000.0      1734
80000.0      1415
70000.0      1217
60000.0      1155
50000.0      1012
5000.0        836
40000.0       815
30000.0       780
20000.0       762
10000.0       253
Name: odometer_km, dtype: int64

I found that there were 13 unique values and thirty one thousand of them had values correpsonding to 150000. I decided that this was too much to drop, even as an outlier.
There are still values contained in ths dataset that are null values, they are in other columns and they need to be cleaned so as no to offset the data.

In [23]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In the next few cells, I calculated the distribution of values the columns: 'date_crawled', 'ad_created', and 'last_seen' as percentages and I als ranked them in ascending order.

In [24]:
autos['date_crawled'].value_counts( normalize=True,dropna=False)

2016-03-22 09:51:06    0.000062
2016-04-02 15:49:30    0.000062
2016-03-11 22:38:16    0.000062
2016-03-12 16:06:22    0.000062
2016-04-04 16:40:33    0.000062
2016-03-19 17:36:18    0.000062
2016-03-14 20:50:02    0.000062
2016-03-21 20:37:19    0.000062
2016-03-29 23:42:13    0.000062
2016-03-08 10:40:35    0.000062
2016-03-16 21:50:53    0.000062
2016-03-23 19:38:20    0.000062
2016-04-02 11:37:04    0.000062
2016-03-25 19:57:10    0.000062
2016-03-09 11:54:38    0.000062
2016-03-23 18:39:34    0.000062
2016-03-30 19:48:02    0.000062
2016-03-05 16:57:05    0.000062
2016-03-20 12:47:30    0.000041
2016-04-02 10:50:07    0.000041
2016-03-08 17:50:38    0.000041
2016-03-29 19:40:38    0.000041
2016-03-10 07:54:10    0.000041
2016-03-27 11:52:07    0.000041
2016-03-30 13:38:49    0.000041
2016-04-03 12:48:58    0.000041
2016-03-14 22:53:33    0.000041
2016-04-04 21:38:54    0.000041
2016-03-23 23:51:06    0.000041
2016-04-01 17:47:12    0.000041
                         ...
2016-03-27 08:02:24    0.000021
2016-04-02 10:43:58    0.000021
2016-03-12 18:44:19    0.000021
2016-03-12 15:46:10    0.000021
2016-03-09 21:59:17    0.000021
2016-04-03 20:40:34    0.000021
2016-03-31 16:49:45    0.000021
2016-03-06 19:46:39    0.000021
2016-03-05 15:47:27    0.000021
2016-03-08 23:55:48    0.000021
2016-03-23 23:47:25    0.000021
2016-03-29 16:46:05    0.000021
2016-04-04 17:50:17    0.000021
2016-03-28 21:43:28    0.000021
2016-03-05 23:57:06    0.000021
2016-03-18 16:06:35    0.000021
2016-03-22 15:54:51    0.000021
2016-03-12 18:53:22    0.000021
2016-03-12 13:39:35    0.000021
2016-03-19 15:48:03    0.000021
2016-03-14 10:54:35    0.000021
2016-04-02 18:54:02    0.000021
2016-03-22 17:25:22    0.000021
2016-03-08 20:52:48    0.000021
2016-03-11 17:36:21    0.000021
2016-03-11 04:03:35    0.000021
2016-03-18 17:47:18    0.000021
2016-03-25 19:58:08    0.000021
2016-03-19 22:58:33    0.000021
2016-03-08 12:54:25    0.000021
Name: date_crawled, Length: 46882, dtype: float64

In [25]:
autos['date_crawled'].sort_index()

0        2016-03-26 17:47:46
1        2016-04-04 13:38:56
2        2016-03-26 18:57:24
3        2016-03-12 16:58:10
4        2016-04-01 14:38:50
5        2016-03-21 13:47:45
6        2016-03-20 17:55:21
7        2016-03-16 18:55:19
8        2016-03-22 16:51:34
9        2016-03-16 13:47:02
10       2016-03-15 01:41:36
11       2016-03-16 18:45:34
12       2016-03-31 19:48:22
13       2016-03-23 10:48:32
14       2016-03-23 11:50:46
15       2016-04-01 12:06:20
16       2016-03-16 14:59:02
17       2016-03-29 11:46:22
18       2016-03-26 19:57:44
19       2016-03-17 13:36:21
20       2016-03-05 19:57:31
21       2016-03-06 19:07:10
22       2016-03-28 20:50:54
23       2016-03-10 19:55:34
24       2016-04-03 11:57:02
25       2016-03-21 21:56:18
26       2016-04-03 22:46:28
28       2016-03-19 21:56:19
29       2016-04-02 12:45:44
30       2016-03-14 11:47:31
                ...
49968    2016-04-01 17:49:15
49969    2016-03-17 18:49:02
49970    2016-03-21 22:47:37
49971    2016-03-29 14:54:12
49972    2016-03-26 22:25:23
49973    2016-03-27 05:32:39
49975    2016-03-27 20:51:39
49976    2016-03-19 18:56:05
49977    2016-03-31 18:37:18
49978    2016-04-04 10:37:14
49979    2016-03-20 18:38:40
49980    2016-03-12 10:55:54
49981    2016-03-15 09:38:21
49982    2016-03-29 18:51:08
49983    2016-03-06 12:43:04
49985    2016-04-02 16:38:23
49986    2016-04-04 20:46:02
49987    2016-03-22 20:47:27
49988    2016-03-28 19:49:51
49989    2016-03-11 19:50:37
49990    2016-03-21 19:54:19
49991    2016-03-06 15:25:19
49992    2016-03-10 19:37:38
49993    2016-03-15 18:47:35
49994    2016-03-22 17:36:42
49995    2016-03-27 14:38:19
49996    2016-03-28 10:50:25
49997    2016-04-02 14:44:48
49998    2016-03-08 19:25:42
49999    2016-03-14 00:42:12
Name: date_crawled, Length: 48565, dtype: object

In [26]:
autos['ad_created'].value_counts( normalize=True,dropna=False)

2016-04-03 00:00:00    0.038855
2016-03-20 00:00:00    0.037949
2016-03-21 00:00:00    0.037579
2016-04-04 00:00:00    0.036858
2016-03-12 00:00:00    0.036755
2016-03-14 00:00:00    0.035190
2016-04-02 00:00:00    0.035149
2016-03-28 00:00:00    0.034984
2016-03-07 00:00:00    0.034737
2016-03-29 00:00:00    0.034037
2016-03-15 00:00:00    0.034016
2016-04-01 00:00:00    0.033687
2016-03-19 00:00:00    0.033687
2016-03-30 00:00:00    0.033501
2016-03-08 00:00:00    0.033316
2016-03-09 00:00:00    0.033151
2016-03-11 00:00:00    0.032904
2016-03-22 00:00:00    0.032801
2016-03-26 00:00:00    0.032266
2016-03-23 00:00:00    0.032060
2016-03-10 00:00:00    0.031895
2016-03-31 00:00:00    0.031875
2016-03-25 00:00:00    0.031751
2016-03-17 00:00:00    0.031278
2016-03-27 00:00:00    0.030989
2016-03-16 00:00:00    0.030125
2016-03-24 00:00:00    0.029280
2016-03-05 00:00:00    0.022897
2016-03-13 00:00:00    0.017008
2016-03-06 00:00:00    0.015320
                         ...
2016-02-20 00:00:00    0.000041
2016-02-24 00:00:00    0.000041
2016-02-18 00:00:00    0.000041
2016-02-26 00:00:00    0.000041
2016-02-12 00:00:00    0.000041
2016-02-14 00:00:00    0.000041
2016-02-02 00:00:00    0.000041
2016-02-05 00:00:00    0.000041
2016-01-10 00:00:00    0.000041
2015-06-11 00:00:00    0.000021
2016-02-08 00:00:00    0.000021
2016-01-14 00:00:00    0.000021
2015-12-05 00:00:00    0.000021
2016-02-07 00:00:00    0.000021
2016-02-09 00:00:00    0.000021
2015-09-09 00:00:00    0.000021
2016-02-16 00:00:00    0.000021
2016-01-16 00:00:00    0.000021
2016-02-17 00:00:00    0.000021
2016-02-22 00:00:00    0.000021
2016-01-29 00:00:00    0.000021
2015-11-10 00:00:00    0.000021
2016-01-22 00:00:00    0.000021
2016-01-07 00:00:00    0.000021
2016-02-11 00:00:00    0.000021
2016-01-03 00:00:00    0.000021
2015-12-30 00:00:00    0.000021
2015-08-10 00:00:00    0.000021
2016-01-13 00:00:00    0.000021
2016-02-01 00:00:00    0.000021
Name: ad_created, Length: 76, dtype: float64

In [27]:
autos['ad_created'].sort_index()

0        2016-03-26 00:00:00
1        2016-04-04 00:00:00
2        2016-03-26 00:00:00
3        2016-03-12 00:00:00
4        2016-04-01 00:00:00
5        2016-03-21 00:00:00
6        2016-03-20 00:00:00
7        2016-03-16 00:00:00
8        2016-03-22 00:00:00
9        2016-03-16 00:00:00
10       2016-03-14 00:00:00
11       2016-03-16 00:00:00
12       2016-03-31 00:00:00
13       2016-03-23 00:00:00
14       2016-03-23 00:00:00
15       2016-04-01 00:00:00
16       2016-03-16 00:00:00
17       2016-03-29 00:00:00
18       2016-03-26 00:00:00
19       2016-03-17 00:00:00
20       2016-03-05 00:00:00
21       2016-03-06 00:00:00
22       2016-03-28 00:00:00
23       2016-03-10 00:00:00
24       2016-04-03 00:00:00
25       2016-03-21 00:00:00
26       2016-04-03 00:00:00
28       2016-03-19 00:00:00
29       2016-04-02 00:00:00
30       2016-03-14 00:00:00
                ...
49968    2016-04-01 00:00:00
49969    2016-03-17 00:00:00
49970    2016-03-21 00:00:00
49971    2016-03-29 00:00:00
49972    2016-03-26 00:00:00
49973    2016-03-27 00:00:00
49975    2016-03-27 00:00:00
49976    2016-03-19 00:00:00
49977    2016-03-31 00:00:00
49978    2016-04-04 00:00:00
49979    2016-03-20 00:00:00
49980    2016-03-12 00:00:00
49981    2016-03-15 00:00:00
49982    2016-03-29 00:00:00
49983    2016-03-06 00:00:00
49985    2016-04-02 00:00:00
49986    2016-04-04 00:00:00
49987    2016-03-22 00:00:00
49988    2016-03-28 00:00:00
49989    2016-03-11 00:00:00
49990    2016-03-21 00:00:00
49991    2016-03-06 00:00:00
49992    2016-03-10 00:00:00
49993    2016-03-15 00:00:00
49994    2016-03-22 00:00:00
49995    2016-03-27 00:00:00
49996    2016-03-28 00:00:00
49997    2016-04-02 00:00:00
49998    2016-03-08 00:00:00
49999    2016-03-13 00:00:00
Name: ad_created, Length: 48565, dtype: object

In [28]:
autos['last_seen'].value_counts( normalize=True,dropna=False)

2016-04-07 06:17:27    0.000165
2016-04-07 03:16:17    0.000144
2016-04-06 21:17:51    0.000144
2016-04-06 20:48:27    0.000124
2016-04-06 06:17:24    0.000124
2016-04-06 13:17:03    0.000124
2016-04-06 15:16:45    0.000124
2016-04-06 02:17:26    0.000124
2016-04-06 15:17:56    0.000124
2016-04-06 02:16:12    0.000124
2016-04-07 04:46:51    0.000124
2016-04-07 05:16:17    0.000124
2016-04-06 08:44:19    0.000124
2016-04-05 16:44:47    0.000124
2016-04-07 03:45:23    0.000124
2016-04-06 10:17:12    0.000124
2016-04-06 19:16:38    0.000124
2016-04-06 14:44:55    0.000124
2016-04-06 22:17:26    0.000124
2016-04-06 05:16:14    0.000124
2016-04-06 07:46:11    0.000124
2016-04-07 06:46:12    0.000124
2016-04-06 15:45:50    0.000124
2016-04-06 14:17:04    0.000124
2016-04-07 09:44:42    0.000103
2016-04-06 08:44:40    0.000103
2016-04-06 04:16:52    0.000103
2016-04-06 12:44:35    0.000103
2016-04-05 12:46:18    0.000103
2016-04-07 02:45:44    0.000103
                         ...
2016-03-30 12:15:48    0.000021
2016-04-06 11:36:39    0.000021
2016-04-04 08:46:53    0.000021
2016-03-15 08:42:09    0.000021
2016-03-17 05:17:02    0.000021
2016-03-07 14:46:58    0.000021
2016-04-06 17:16:38    0.000021
2016-03-28 12:56:29    0.000021
2016-04-06 23:16:06    0.000021
2016-04-06 00:45:06    0.000021
2016-04-06 03:45:21    0.000021
2016-04-01 08:41:21    0.000021
2016-03-17 13:38:21    0.000021
2016-03-17 11:15:21    0.000021
2016-03-31 15:41:09    0.000021
2016-04-07 02:46:53    0.000021
2016-04-03 08:47:20    0.000021
2016-04-05 14:47:11    0.000021
2016-04-07 05:46:49    0.000021
2016-03-24 00:16:23    0.000021
2016-03-12 21:42:34    0.000021
2016-04-06 01:17:07    0.000021
2016-04-06 16:18:05    0.000021
2016-03-22 06:45:37    0.000021
2016-04-06 07:17:11    0.000021
2016-04-06 02:46:01    0.000021
2016-03-09 13:50:14    0.000021
2016-03-30 04:16:59    0.000021
2016-04-05 15:18:05    0.000021
2016-04-06 07:17:35    0.000021
Name: last_seen, Length: 38474, dtype: float64

In [29]:
autos['last_seen'].sort_index()

0        2016-04-06 06:45:54
1        2016-04-06 14:45:08
2        2016-04-06 20:15:37
3        2016-03-15 03:16:28
4        2016-04-01 14:38:50
5        2016-04-06 09:45:21
6        2016-03-23 02:48:59
7        2016-04-07 03:17:32
8        2016-03-26 18:18:10
9        2016-04-06 10:46:35
10       2016-04-07 03:16:21
11       2016-03-16 18:45:34
12       2016-04-06 14:17:52
13       2016-04-01 14:17:13
14       2016-04-01 15:46:47
15       2016-04-02 21:10:48
16       2016-03-18 05:29:37
17       2016-04-05 20:46:26
18       2016-04-02 12:16:41
19       2016-03-17 14:45:58
20       2016-03-07 05:46:46
21       2016-04-05 23:46:19
22       2016-04-01 06:45:30
23       2016-03-17 08:45:17
24       2016-04-07 13:16:50
25       2016-04-01 05:16:49
26       2016-04-05 23:46:48
28       2016-04-07 14:58:48
29       2016-04-02 12:45:44
30       2016-03-14 11:47:31
                ...
49968    2016-04-05 13:16:35
49969    2016-03-25 23:18:15
49970    2016-04-07 04:17:34
49971    2016-03-29 20:41:51
49972    2016-03-28 11:28:18
49973    2016-03-27 08:25:24
49975    2016-04-05 19:45:34
49976    2016-04-07 06:16:44
49977    2016-04-06 12:16:11
49978    2016-04-06 12:44:20
49979    2016-04-07 01:45:12
49980    2016-04-06 17:16:49
49981    2016-04-05 17:21:46
49982    2016-03-29 18:51:08
49983    2016-03-09 06:16:08
49985    2016-04-06 15:17:52
49986    2016-04-06 23:16:00
49987    2016-03-26 22:46:06
49988    2016-04-07 02:17:40
49989    2016-03-12 10:17:55
49990    2016-04-06 22:46:57
49991    2016-03-06 18:24:19
49992    2016-03-13 01:44:51
49993    2016-04-06 19:46:53
49994    2016-04-06 08:16:39
49995    2016-04-01 13:47:40
49996    2016-04-02 14:18:02
49997    2016-04-04 11:47:27
49998    2016-04-05 16:45:07
49999    2016-04-06 21:18:48
Name: last_seen, Length: 48565, dtype: object

In [30]:
autos['registration_year'].describe()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The registration_year's mean seems to be around 2004 which is when most of the cars would have been registered.
The max is 9999, which seems to be an error and it will be cleaned.

In [31]:
autos['registration_year'].value_counts()

2000    3156
2005    2936
1999    2897
2004    2703
2003    2699
2006    2670
2001    2636
2002    2486
1998    2363
2007    2277
2008    2215
2009    2085
1997    1951
2011    1623
2010    1589
2017    1392
1996    1373
2012    1310
1995    1227
2016    1220
2013     803
2014     663
1994     629
2018     470
1993     425
2015     392
1992     370
1990     347
1991     339
1989     174
        ...
1950       3
9999       3
1800       2
1951       2
1941       2
1934       2
1954       2
1957       2
1955       2
2019       2
1001       1
1939       1
4500       1
1953       1
1111       1
4800       1
5911       1
1943       1
1938       1
1929       1
2800       1
6200       1
4100       1
8888       1
1927       1
9000       1
1948       1
1000       1
1931       1
1952       1
Name: registration_year, Length: 95, dtype: int64

In [32]:
autos[(autos['registration_year']>1000) & (autos['registration_year']<2016)].describe()

,price,registration_year,power_ps,odometer_km,registration_month,postal_code
count,45465.000000,45465.000000,45465.000000,45465.000000,45465.000000,45465.000000
mean,6031.672231,2002.508941,119.028593,125428.901353,5.853316,51167.385175
std,8908.626691,9.467619,187.047518,39826.944080,3.658429,25745.301680
min,1.000000,1001.000000,0.000000,5000.000000,0.000000,1067.000000
25%,1299.000000,1999.000000,75.000000,100000.000000,3.000000,30855.000000
50%,3200.000000,2003.000000,109.000000,150000.000000,6.000000,50129.000000
75%,7650.000000,2007.000000,150.000000,150000.000000,9.000000,72108.000000
max,345000.000000,2015.000000,17700.000000,150000.000000,12.000000,99998.000000

In [33]:
autos[(autos['registration_year']>1900) & (autos['registration_year']<2016)].describe()

,price,registration_year,power_ps,odometer_km,registration_month,postal_code
count,45461.000000,45461.000000,45461.000000,45461.000000,45461.000000,45461.000000
mean,6032.001892,2002.559491,118.959878,125439.497591,5.853743,51167.264226
std,8908.900124,6.949093,186.721477,39812.671457,3.658294,25745.700899
min,1.000000,1910.000000,0.000000,5000.000000,0.000000,1067.000000
25%,1299.000000,1999.000000,75.000000,100000.000000,3.000000,30855.000000
50%,3200.000000,2003.000000,109.000000,150000.000000,6.000000,50129.000000
75%,7650.000000,2007.000000,150.000000,150000.000000,9.000000,72108.000000
max,345000.000000,2015.000000,17700.000000,150000.000000,12.000000,99998.000000

In the cell below we see that the total number of cars that were registered in the'unrealistic period' (earlier than 1900 and later than 2016) totals about 2000. This is a safe number of columns to drop from the dataset.

In [34]:
autos[(autos['registration_year']<1900) | (autos['registration_year']>2016)].describe()

,price,registration_year,power_ps,odometer_km,registration_month,postal_code
count,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000
mean,3689.150212,2050.461783,99.957537,130310.509554,4.670382,47960.584395
std,4869.581439,446.321293,436.228072,37899.532839,3.884984,25358.362753
min,1.000000,1000.000000,0.000000,5000.000000,0.000000,1067.000000
25%,1000.000000,2017.000000,0.000000,125000.000000,1.000000,27691.250000
50%,1999.000000,2017.000000,75.000000,150000.000000,4.000000,45967.000000
75%,4500.000000,2018.000000,120.000000,150000.000000,8.000000,66450.000000
max,64900.000000,9999.000000,16011.000000,150000.000000,12.000000,99974.000000

In [35]:
autos=autos[(autos['registration_year']>1900) & (autos['registration_year']<2016)]

In [36]:
autos['registration_year'].value_counts(normalize=True)

2000    0.069422
2005    0.064583
1999    0.063725
2004    0.059458
2003    0.059370
2006    0.058732
2001    0.057984
2002    0.054684
1998    0.051979
2007    0.050087
2008    0.048723
2009    0.045863
1997    0.042916
2011    0.035701
2010    0.034953
1996    0.030202
2012    0.028816
1995    0.026990
2013    0.017663
2014    0.014584
1994    0.013836
1993    0.009349
2015    0.008623
1992    0.008139
1990    0.007633
1991    0.007457
1989    0.003827
1988    0.002970
1985    0.002090
1980    0.001870
          ...
1966    0.000484
1976    0.000462
1969    0.000418
1975    0.000396
1965    0.000374
1964    0.000264
1963    0.000176
1959    0.000132
1961    0.000132
1910    0.000110
1956    0.000088
1958    0.000088
1937    0.000088
1962    0.000088
1950    0.000066
1941    0.000044
1955    0.000044
1951    0.000044
1934    0.000044
1957    0.000044
1954    0.000044
1953    0.000022
1948    0.000022
1929    0.000022
1943    0.000022
1939    0.000022
1938    0.000022
1931    0.000022
1927    0.000022
1952    0.000022
Name: registration_year, Length: 77, dtype: float64

In [37]:
brand_counts = autos["brand"].value_counts(normalize=True)
brand_counts

volkswagen        0.210510
bmw               0.111172
opel              0.106223
mercedes_benz     0.097336
audi              0.087240
ford              0.069708
renault           0.046567
peugeot           0.029608
fiat              0.025362
seat              0.018103
skoda             0.016630
nissan            0.015244
mazda             0.015134
smart             0.014144
citroen           0.014012
toyota            0.012758
hyundai           0.010075
sonstige_autos    0.009877
volvo             0.009261
mini              0.008777
mitsubishi        0.008183
honda             0.007831
kia               0.007193
alfa_romeo        0.006665
porsche           0.006181
suzuki            0.005917
chevrolet         0.005763
chrysler          0.003541
dacia             0.002662
daihatsu          0.002530
jeep              0.002288
subaru            0.002156
land_rover        0.002112
saab              0.001672
jaguar            0.001606
daewoo            0.001518
trabant           0.001430
rover             0.001320
lancia            0.001100
lada              0.000594
Name: brand, dtype: float64

In [38]:
common_brands = brand_counts[brand_counts > .05].index
print(common_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

In [39]:
brand_mean_prices = {}

for brand in common_brands:
    brand_only=autos[(autos['brand']==brand)]
    mean_prices=brand_only['price'].mean()
    brand_mean_prices[brand]=int(mean_prices)
    
brand_mean_prices

{'volkswagen': 5480,
 'bmw': 8398,
 'opel': 3013,
 'mercedes_benz': 8711,
 'audi': 9349,
 'ford': 3817}

In [40]:
brand_mean_mileage={}

for brand in common_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_mileage = brand_only["odometer_km"].mean()
    brand_mean_mileage[brand] = int(mean_mileage)
    
    
mean_mileage = pd.Series(brand_mean_mileage).sort_values(ascending=False)
mean_prices = pd.Series(brand_mean_prices).sort_values(ascending=False)

In [41]:
brand_info = pd.DataFrame(mean_mileage,columns=['mean_mileage'])
brand_info

               mean_mileage
bmw                  132462
mercedes_benz        130615
opel                 129231
audi                 129189
volkswagen           128442
ford                 124001

In [42]:
brand_info['mean_prices']=mean_prices
brand_info

               mean_mileage  mean_prices
bmw                  132462         8398
mercedes_benz        130615         8711
opel                 129231         3013
audi                 129189         9349
volkswagen           128442         5480
ford                 124001         3817


The range of car mileages does not vary as much as the prices do by brand, instead all falling within 10% for the top brands. There is a slight trend to the more expensive vehicles having higher mileage, with the less expensive vehicles having lower mileage.

Conclusion

If you want a good car, you have to pay top dollar